@import "nullstyle.scss";
@import "footer.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

html,
body {
    height: 100%;
    font-family: Montserrat;
    overflow-x: hidden;
}

.wrapper {
    height: 100%;
    position: relative;
}

.header {

    position: relative;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 42px;

    &__burger {
        display: none;
    }

    &__logo {
        padding: 40px 61px;

        img {
            max-width: 100%;
        }
    }

    &__menu {
        padding: 58px 0px 58px 100px;
        display: flex;
        width: 60%;
        height: 30px;
        justify-content: space-between;

        a {
            font-size: 20px;
            color: white;
            transition: all 0.8s ease 0s;

            &:hover {
                color: #ffc200;
            }
        }

        img {
            position: relative;
            z-index: 150;
            margin-top: -10px;
            height: 30px;
            max-width: 100%;
            transition: all 0.5s ease 0s;

            &:hover {
                opacity: 0.5;
                background-color: #ffc200;
            }
        }
    }



    .search {
        margin: 22px 25px 0px 0px;
        max-width: 100%;

        img {

            max-width: 100%;
        }
    }



}


.searchinput {
    position: absolute;
    top: 100px;
    right: -500px;
    border-radius: 15px;
    z-index: 200;
    height: 30px;
    width: 0%;
    color: black;
    transition: all 0.5s ease 0s;
    background-color: white;

    input {
        height: 100%;
        width: 100%;
        border-radius: 15px;
        padding: 0px 12px;
        font-size: 20px;
    }


}

.active {
    right: 13%;
    width: 50%;

}


.content {
    background-color: #303030;
    margin-top: -72px;
    display: flex;
    justify-content: start;
    padding-right: 25px;

    &__image {
        height: 100%;

        img {
            max-width: 100%;
        }
    }

    &__shape {
        margin-left: -175px;

        img {
            max-width: 100%;
        }
    }

    &__text {
        padding: 0px 250px;
        margin: 150px 0px 0px -150px;
        max-width: 850px;
        position: relative;
        background-color: #303030;

        h2 {
            color: #ffc200;
            font-family: 'Grand Hotel', cursive;
            font-size: 103px;
        }

        p {
            max-width: 610px;
            padding-top: 50px;
            font-size: 20px;
            text-align: justify;
            line-height: 30px;
            color: white;
        }

        button {
            height: 50px;
            width: 245px;
            background-color: #ffc200;
            margin-top: 40px;
            border-radius: 15px;
            transition: all 0.5s ease 0s;

            a {
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 700;
                color: #303030;
            }

            &:hover {
                box-shadow: 0 0 15px #ffc200;
            }
        }

        img {
            position: absolute;
        }

        .papric {
            top: 0;
            right: 50px;
        }

        .onion {
            bottom: 150px;
            right: 0;
        }

        .ananas1 {
            top: 150px;
            right: 0;
        }

        .ananas2 {
            bottom: 100px;
            right: 250px;
        }

        .ananas3 {
            bottom: 120px;
            left: 50px;
        }

        .ananas4 {
            left: 50px;
            top: 0;
        }

        .greenery {
            top: 150px;
            left: -50px;
        }

        .tomato {
            bottom: 50px;
            left: 200px;
        }

        .sonion {
            bottom: 50px;
            right: 100px;
        }
    }
}

.bestseller {
    background-color: white;
    text-align: center;
    padding: 140px 0px;
    max-width: 1200px;
    margin: auto;

    &__title {
        font-size: 80px;
        font-family: 'Grand Hotel', cursive;
        padding-bottom: 40px;

    }

    &__text {
        font-size: 25px;
        margin: auto;
        max-width: 900px;
        padding: 0px 25px 100px 25px;
    }

    &__card {
        display: flex;
        justify-content: space-between;

        .cards {
            margin: 0px 60px;
            max-width: 245px;

            img {
                border-radius: 50%;
                max-width: 100%;
            }

            h2 {
                font-family: 'Grand Hotel', cursive;
                font-size: 35px;
                padding: 20px 0px;
            }

            p {
                font-size: 18px;
                padding-bottom: 25px;
            }
        }

    }
}


.originaltaste {
    position: relative;
    z-index: 5;
    padding-top: 250px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0px 15px;
    margin: auto;

    &__img {
        margin: auto;

        img {
            max-width: 100%;
        }
    }

    &__content {
        margin: auto;

        h2 {
            padding-top: 130px;
            font-size: 80px;
            font-family: 'Grand Hotel', cursive;
            color: #ffc200;
        }

        p {
            font-size: 22px;
            max-width: 550px;
            padding: 50px 0px;
            color: white;
        }

        button {
            height: 65px;
            width: 322px;
            background-color: #ffc200;
            border-radius: 15px;
            transition: all 0.8s ease 0s;

            &:hover {
                box-shadow: 0 0 15px #ffc200;
            }

            a {
                font-size: 20px;
                font-weight: 700;
                color: #303030;
                text-transform: uppercase;
            }
        }
    }
}

.background {
    height: 800px;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    object-position: center top;

    img {
        width: 100%;
        height: 100%;
    }

    margin-top: -600px;
}

.statistic {
    background-color: #303030;
    margin-top: -50px;
    padding-bottom: 100px;

    &__content {
        position: relative;
        padding: 0px 115px;
        max-width: 1330px;
        height: 665px;
        text-align: center;
        margin: auto;

        img {
            opacity: 0.5;
        }


        h2 {
            padding-top: 65px;
            font-family: 'Grand Hotel', cursive;
            font-size: 75px;
            color: #ffc200;
        }

        p {
            margin: auto;
            max-width: 800px;
            padding: 60px 0px;
            font-size: 20px;
            color: white;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;

        .card {
            width: 233px;
            height: 233px;
            text-align: center;
            border-radius: 50%;
            border: 5px solid white;

            nav {
                font-weight: 700;
                font-size: 37px;
                color: #ffc200;
                padding-top: 60px;

            }

            p {
                padding-top: 25px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 22px;
            }
        }
    }

    img {
        position: absolute;
    }

    .papric {
        top: 0;
        right: 250px;
    }

    .papric1 {
        bottom: 10px;
        left: 300px;
        transform: rotate(75deg);
    }

    .onion {
        bottom: 180px;
        right: 0;
    }

    .ananas1 {
        top: 250px;
        right: 50px;
    }

    .ananas2 {
        top: 0;
        left: 300px;
    }

    .ananas3 {
        left: 0;
        bottom: 0;
    }

    .greenery {
        top: 150px;
        left: 0;
    }

    .tomato {
        bottom: 0;
        right: 400px;

    }

    .sonion {
        bottom: 0;
        right: 80px;
    }
}

.grill {
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    padding: 0px 50px;
    margin: auto;

    &__content {
        h2 {
            font-size: 108px;
            color: #ffc200;
            font-family: 'Grand Hotel', cursive;
        }

        p {
            font-size: 22px;
            max-width: 573px;
            padding: 60px 0px;
            color: white;
        }

        button {
            height: 65px;
            width: 322px;
            background-color: #ffc200;
            border-radius: 15px;
            transition: all 0.8s ease 0s;

            a {
                font-size: 19px;
                text-transform: uppercase;
                font-weight: 700;
                color: #303030;
            }

            &:hover {
                box-shadow: 0 0 15px #ffc200;
            }
        }
    }

    &__img {
        img {
            max-width: 100%;
        }
    }
}

.back {
    overflow: hidden;
    object-fit: cover;
    object-position: center bottom;
    position: relative;
    z-index: -1;
    width: 100%;
    height: 700px;
    margin-top: -600px;

    img {
        width: 100%;
        height: 100%;
    }
}

.fields {
    margin-top: 100px;
    background-size: cover;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    height: 100vh;
    background-color: #ffc200;
    padding: 0px 50px;

    p {
        padding-top: 38vh;
        max-width: 913px;
        margin: auto;
        font-size: 40px;
    }

    h2 {
        padding-top: 50px;
        font-family: 'Grand Hotel', cursive;
        font-size: 58px;
    }

}

.yellow {
    height: 100vh;
    width: 100%;
    opacity: 0.3;
    margin-top: -100vh;
    object-position: center top;
    overflow: hidden;
    object-fit: cover;
    position: relative;

    img {
        background-size: cover;

    }
}

.subscribe {

    text-align: center;
    margin: auto;
    height: 800px;
    max-width: 1330px;
    padding: 150px 15px;
    position: relative;


    h2 {

        font-size: 75px;
        font-family: 'Grand Hotel', cursive;
    }

    p {
        max-width: 827px;
        margin: 80px auto;
        font-size: 25px;
    }

    .input {
        box-shadow: 0 0 5px #303030;
        max-width: 771px;
        height: 63px;
        margin: auto;
        display: flex;
        justify-content: center;
        border-radius: 15px;


        input {
            border-radius: 15px 0px 0px 15px;
            font-size: 20px;
            height: 63px;
            width: 549px;
            padding: 0px 25px;
            transition: all 0.5s ease 0s;

            &:focus {
                box-shadow: 0 0 10px #ffc200;
            }
        }

        button {
            border-radius: 0px 15px 15px 0px;
            background-color: #ffc200;
            height: 63px;
            width: 222px;
            transition: all 0.8s ease 0s;

            a {
                font-size: 19px;
                font-weight: 700;
                color: #303030;
                text-transform: uppercase;


            }

            &:hover {
                box-shadow: 0 0 10px #ffc200;
            }
        }



    }

    img {
        opacity: 0.7;
        position: absolute;
    }

    .papric {
        top: 0;
        right: 250px;
    }

    .papric1 {
        bottom: 90px;
        left: 300px;
        transform: rotate(75deg);
    }

    .onion {
        bottom: 260px;
        right: 0;
    }

    .ananas1 {
        top: 250px;
        right: 50px;
    }

    .ananas2 {
        top: 0;
        left: 300px;
    }

    .ananas3 {
        left: 0;
        bottom: 80px;
    }

    .greenery {
        top: 150px;
        left: 0;
    }

    .tomato {
        bottom: 80px;
        right: 400px;

    }

    .sonion {
        bottom: 80px;
        right: 80px;
    }


}

@media (max-width: 1500px) {

    .content {

        &__text {
            padding: 100px;
            margin-left: -300px;
        }
    }
}

@media (max-width: 1340px) {

    .header {
        .active {
            width: 200px;
        }
    }

    .content {

        &__shape {
            img {}
        }

        &__text {
            padding: 100px 0px;

            .greenery {
                top: 150px;
                left: -100px;
            }

            .ananas2 {
                bottom: 200px;
                right: 200px;
            }
        }
    }

    .statistic {

        &__content {}

        &__cards {

            .card {
                height: 200px;
                width: 200px;

                nav {
                    padding-top: 50px;
                }
            }
        }
    }


}

@media (max-width: 1100px) {

    .header {

        &__menu {
            width: 60%;
        }

        .active {
            width: 170px;
        }
    }

    .content {

        &__shape {
            margin-left: -250px;
        }

        &__text {

            .greenery {
                top: 50px;
                left: -100px;
            }

            .ananas2 {
                bottom: 170px;
                right: 150px;
            }

            .ananas3 {
                bottom: 50px;
                left: 50px;
            }

            .tomato {
                bottom: 30px;
                left: 250px;
            }

            .onion {
                bottom: 100px;
                right: 0;
            }
        }
    }

    .statistic {

        &__content {

            padding: 0px 50px;
        }

        &__cards {
            .card {
                height: 180px;
                width: 180px;

                nav {
                    padding-top: 40px;
                }
            }
        }

        .papric1 {
            bottom: 10px;
            left: 250px;
            transform: rotate(75deg);
        }

        .onion {
            bottom: 50px;
            right: 10px;
        }

        .tomato {
            bottom: 0;
            right: 300px;

        }
    }

    .originaltaste {
        &__content {
            p {
                max-width: 450px;
            }
        }
    }

    .back {
        margin-top: -620px;
    }

    .subscribe {
        .papric1 {
            bottom: 90px;
            left: 250px;
        }

        .tomato {
            bottom: 80px;
            right: 300px;
        }
    }

    .footer {

        &__conteiner {

            .main-conteiner {
                p {
                    font-size: 18px;
                    max-width: 400px;
                }
            }

            .columns {

                .column {
                    a {
                        font-size: 18px;
                        transition: all 0.8s ease 0s;

                        &:hover {
                            color: #ffc200;
                        }
                    }
                }
            }
        }
    }


}

@media (max-width: 980px) {

    .header {

        &__logo {
            padding: 40px 0px 0px 20px;
        }

        &__menu {
            padding: 54px 0px 0px 25px;

            a {}
        }

        .search {
            margin: 22px 20px 0px 0px;

            img {
                max-width: 100%;
            }
        }
    }

    .content {
        &__shape {
            margin-left: -400px;
        }

        &__text {

            max-width: 400px;

            .greenery {
                top: 50px;
                left: -100px;
            }

            .ananas2 {
                bottom: 170px;
                right: 100px;
            }

            .ananas3 {
                bottom: 50px;
                left: 50px;
            }

            .tomato {
                bottom: 10px;
                left: 280px;
            }

            .onion {
                display: none;
                bottom: 150px;
                right: -50px;
            }
        }
    }

    .statistic {

        &__content {

            padding: 0px 50px;
        }

        &__cards {
            .card {
                height: 160px;
                width: 160px;

                nav {
                    padding-top: 30px;
                }
            }
        }

        .papric {
            right: 150px;
        }

        .papric1 {
            left: 200px;
        }

        .tomato {
            bottom: 0;
            right: 250px;

        }
    }

    .bestseller {
        &__card {
            flex-wrap: wrap;
            margin: auto;
            justify-content: start;

            .cards {
                width: 300px;
                margin: auto;
                padding-bottom: 50px;
            }
        }
    }

    .originaltaste {

        &__img {
            padding-right: 25px;
        }

        &__content {

            h2 {
                font-size: 70px;
            }

            p {
                max-width: 350px;
            }

            button {
                height: 50px;
                width: 300px;

                a {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .header {

        &__logo {
            padding: 40px 0px 0px 20px;
        }

        &__menu {
            position: fixed;
            top: 0;
            left: -200px;
            height: 100%;
            background-color: white;
            width: 200px;
            display: flex;
            justify-content: start;
            flex-direction: column;
            box-shadow: 0 0 1px #303030;
            transition: all 0.3s ease 0s;

            a {
                color: black;
                padding-top: 30px;
            }
        }

        .show {
            left: 0;
        }

        &__burger {
            display: block;
            position: fixed;
            z-index: 300;
            width: 30px;
            height: 20px;
            margin: 20px 0px 0px 20px;

            &::before,
            &::after {
                content: '';
                background-color: #ffc200;
                position: absolute;
                z-index: 300;
                width: 100%;
                height: 3px;
                left: 0;
                transition: all 0.3s ease 0s;
                border-radius: 2px;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            span {
                border-radius: 2px;
                position: absolute;
                left: 0;
                width: 100%;
                background-color: #ffc200;
                height: 3px;
                top: 9px;
                z-index: 300;
                transition: all 0.3s ease 0s;
            }


        }

        .click {
            &::before {
                background-color: black;
                transform: rotate(45deg);
                top: 9px;
            }

            &::after {
                background-color: black;
                transform: rotate(-45deg);
                bottom: 8px;
            }

            span {
                display: none;
            }
        }

        .active {
            width: 100%;
            height: 30px;
            margin: -10px 15px 0px 15px;

            input {
                height: 100%;
                width: 100%;
            }
        }
    }

    .searchinput {
        top: 45px;
    
        input {
            font-size: 18px;
        }
    }
    .active {
        right: 17%;
        max-width: 45%;
    }

    .content {

        &__shape {
            margin-left: -400px;
        }

        &__text {
            margin-top: 100px;
            padding: 20px 20px;

            h2 {
                font-size: 80px;
            }

            p {
                font-size: 16px;
            }

            button {
                height: 40px;
                width: 200px;

                a {
                    font-size: 12px;

                }
            }


            img {
                max-width: 15%;
            }

            .tomato {
                bottom: 150px;
                left: 150px;
            }

            .onion {
                bottom: 150px;
                right: 80px;
            }

            .ananas2 {
                bottom: 170px;
                right: 20px;
            }

            .ananas1 {
                top: 50px;
                right: 0;
            }

            .ananas4 {
                left: 0px;
                top: -10px;
            }

            .greenery {
                top: 80px;
                left: -50px;
            }
        }
    }


    .statistic {

        &__content {

            padding: 0px 50px;
        }

        &__cards {
            margin: 0px 100px;
            flex-wrap: wrap;

            .card {
                margin: 25px 0px;
                justify-content: center;
                height: 160px;
                width: 160px;

                nav {
                    padding-top: 30px;
                }
            }
        }

        .greenery {
            top: 50px;
            left: 0;
        }

        .papric {
            right: 80px;
        }

        .papric1 {
            bottom: 100px;
            left: 20px;
        }

        .tomato {
            bottom: 200px;
            right: 10px;

        }
    }

    .background {
        height: 600px;
        margin-top: -400px;

    }

    .originaltaste {
        padding-top: 250px;
        padding: 0px 15px;

        &__img {
            margin: auto;

            img {
                max-width: 100%;
                padding-right: 40px;
            }
        }

        &__content {
            h2 {
                padding-top: 20px;
                font-size: 55px;
            }

            p {
                font-size: 20px;
                max-width: 300px;
            }

            button {
                height: 50px;
                width: 250px;
                background-color: #ffc200;
                border-radius: 15px;
                transition: all 0.8s ease 0s;


                a {
                    font-size: 18px;
                    font-weight: 700;
                    color: #303030;
                    text-transform: uppercase;
                }
            }
        }
    }

    .grill {
        padding: 0px 50px;

        &__content {
            h2 {
                font-size: 80px;
            }

            p {
                font-size: 20px;
            }

            button {
                height: 50px;
                width: 250px;

                a {
                    font-size: 16px;
                }
            }
        }

        &__img {
            img {
                max-width: 100%;
            }
        }
    }

    .subscribe {
        .papric1 {
            bottom: 90px;
            left: 200px;
        }

        .tomato {
            bottom: 80px;
            right: 200px;
        }

        .onion {
            bottom: 100px;
            right: 0;
        }

        .papric {
            top: 0;
            right: 150px;
        }

        .ananas2 {
            top: 0;
            left: 150px;
        }
    }

}

@media (max-width: 629px) {


    .content {
        height: 500px;

        &__image {

            img {
                height: 500px;
                width: 800px;
                object-fit: cover;
                object-position: top center;
            }
        }

        &__shape {
            margin-left: -150px;

            img {
                width: 500px;
                object-fit: cover;
                object-position: center left;
                height: 500px;
            }
        }

        &__text {
            padding: 20px 0px;
            margin-left: -50px;

            h2 {
                font-size: 60px;
            }

            p {
                font-size: 16px;
            }

            .papric {
                top: 0;
                right: 0;
            }


            img {
                max-width: 12%;
            }

            .tomato {
                bottom: 80px;
                right: 0px;
            }

            .onion {
                bottom: 0px;
                left: 0px;
            }

            .ananas2 {
                top: 170px;
                left: -35px;
            }

            .ananas3 {
                left: -50px;
                bottom: 80px;
            }

            .ananas1 {
                top: 90px;
                right: 0;
            }

            .ananas4 {
                left: 0px;
                top: -10px;
            }

            .greenery {
                top: 80px;
                left: -50px;
            }

            .sonion {
                bottom: 0;
                right: 0;
            }
        }
    }

    .searchinput {    
        input {
            font-size: 16px;
        }
    }
    .active {
        right: 19%;
        max-width: 32%;

        
    }

    .originaltaste {

        &__img {
            padding-right: 15px;
        }

        &__content {
            h2 {
                font-size: 40px;
                padding-top: 40px;
            }

            p {
                font-size: 16px;
                max-width: 250px;
                padding: 25px 0px;
            }

            button {
                height: 35px;
                width: 200px;

                a {
                    font-size: 16px;
                }
            }
        }
    }

    .background {
        height: 500px;
        margin-top: -300px;
    }

    .statistic {

        padding-bottom: 550px;

        &__cards {
            margin: 0px 50px;
            justify-content: center;

            .card {
                margin: 25px 0px;
                justify-content: center;
                height: 160px;
                width: 160px;

                nav {
                    padding-top: 30px;
                }
            }
        }

        img {
            max-width: 10%;
        }

        .papric {
            right: 50px;
        }
    }

    .grill {
        padding: 0px 25px;

        &__content {
            h2 {
                font-size: 45px;
            }

            p {
                font-size: 18px;
                padding: 30px 0px;
                max-width: 180px;
            }

            button {
                height: 40px;
                width: 200px;

                a {
                    font-size: 15px;
                }
            }
        }

        &__img {
            img {
                max-width: 100%;
            }
        }
    }

    .fields {
        p {
            padding-top: 35vh;
            font-size: 30px;
        }
    }

    .subscribe {

        .input {
            button {
                a {
                    font-size: 16px;
                }
            }
        }

        .papric1 {
            bottom: 90px;
            left: 50px;
        }

        .tomato {
            bottom: 80px;
            right: 100px;
        }

        .papric {
            top: 0;
            right: 50px;
        }

        .ananas2 {
            top: 0;
            left: 50px;
        }
    }
}

@media (max-width: 424px) {

    .header {

        &__logo {
            padding: 40px 0px 0px 20px;
            img{
                max-width: 70%;
            }
        }

        .search{
            margin-top: 25px;
            img{
                max-height: 80%;
                max-width: 70%;
            }
        }

    }
    .content {
        height: 500px;

        &__image {

            img {
                height: 500px;
                width: 800px;
                object-fit: cover;
                object-position: top center;
            }
        }

        &__shape {
            width: 800px;
            img {
                width: 100%;
            }
        }

        &__text {
            h2 {
                font-size: 45px;
            }

            p {
                font-size: 14px;
            }

            button {
                height: 30px;
                width: 150px;
                a {
                    font-size: 11px;
                }
            }
            .ananas3 {
                display: none;
            }

        }
    }

    .searchinput {    
        top: 50px;
        height: 16px;
        input {
            font-size: 12px;
        }
    }

    .originaltaste {

        &__img {
            padding-right: 0px;
        }

        &__content {
            h2 {
                font-size: 35px;
            }

            button {
                height: 30px;
                width: 130px;

                a {
                    font-size: 13px;
                }
            }
        }
    }

    .background {
        height: 500px;
        margin-top: -350px;
    }

    .statistic {

        padding-bottom: 600px;

        &__cards {
            margin: 0px 0px;

        }

        img {
            max-width: 10%;
        }

        .papric {
            right: 50px;
        }

        .greenery {
            top: 50px;
            left: 0;
        }

        .papric1 {
            bottom: 100px;
            left: 20px;
        }

        .tomato {
            bottom: 200px;
            right: 10px;

        }

        .ananas1{
            top: 1000px;
        }

        .ananas3{
            top: 900px;
            left: 20px;
        }

        .sonion{
            top: 800px;
            right: 50px;
        }
    }

    .grill {
        padding: 0px 25px;

        &__content {
            h2 {
                font-size: 40px;
            }

            p {
                font-size: 18px;
                padding: 30px 0px;
                max-width: 180px;
            }

            button {
                height: 30px;
                width: 130px;

                a {
                    font-size: 13px;
                }
            }
        }

        &__img {
            img {
                max-width: 100%;
            }
        }
    }

    .fields {
        p {
            padding-top: 15vh;
            font-size: 25px;
        }
    }

    .subscribe {
        img{
            max-width: 20%;
        }

        .papric1 {
            bottom: 90px;
            left: 50px;
        }

        .tomato {
            bottom: 80px;
            right: 100px;
        }

        .papric {
            top: 0;
            right: 50px;
        }

        .ananas2 {
            top: 0;
            left: 50px;
        }

        .input {
            max-width: 771px;
            height: 35px;
    
    
            input {
                font-size: 15px;
                height: 100%;
                width: 100%;
            }
    
            button {
                height: 35px;
                width: 200px;
                transition: all 0.8s ease 0s;
    
                a {
                    font-size: 15px;
                    font-weight: 700;
                    color: #303030;
                    text-transform: uppercase;
    
    
                }
    
                &:hover {
                    box-shadow: 0 0 10px #ffc200;
                }
            }
    
    
    
        }
    }
}